@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

navbar-toggler border-light span {
    color: white;
}

.texto-banner {
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.containergg {
    margin-top: 2em;
    position: relative;
    text-align: center;
    color: white;
}
/* ADD CENTER TEXT TO SUB IMAGE */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 23px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#productDetails {
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* LOGIN */
.card {
    width: 400px;
    border: none;
}
.btr {
    border-top-right-radius: 5px !important;
}
.btl {
    border-top-left-radius: 5px !important;
}
.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.nav-pills {
    display: table !important;
    width: 100%;
}
.nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #0d6efd40;
}
.nav-item {
    display: table-cell;
    background: #0d6efd2e;
}
.form {
    padding: 10px;
    height: 300px;
}
.form input {
    margin-bottom: 12px;
    border-radius: 3px;
}
.form input:focus {
    box-shadow: none;
}
.form button {
    margin-top: 20px;
}

/* FLOAT BUTTON TO TOP */
#TopBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0d6efd; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#TopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/* small adjustments */
.redeslogo{
    height: 35px;
    width: 35px;
}
.linkredes{
    padding: 0 3px;
}
.creditos{
    display: block;
    color: #fff;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 20px;
}
/* SWITCHING CAROUSEL COLOR */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2303fca1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2303fca1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}